# vector db folders
db/

# config files
*.toml

# pptx
*.pptx

# large files
*.pkl
*.gguf
glove.6B.100d.txt
*.joblib
venv/
*.pt
*.zip
.env
.ipynb_checkpoints
.vector_cache/
.model/
results/
*.db
.models/
.env
database.db
db
